<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="onSegmentChanged($event)">
      <ion-segment-button value="home">
        <ion-icon name="home-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="recommendations">
        <ion-icon name="search-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="favoris">
        <ion-icon name="heart-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="profile">
        <ion-icon name="person-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
