<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <img src="assets/logo.png" alt="Logo" class="logo" />
    <h2>Bienvenue</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <ion-item>
        <ion-label position="floating">Identifiant</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input formControlName="password" [type]="passwordType"></ion-input>
        <ion-icon name="eye-off" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Remember me</ion-label>
        <ion-checkbox formControlName="rememberMe"></ion-checkbox>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Mot de passe oublié?</ion-label>
      </ion-item>

      <ion-button expand="block" type="submit" [disabled]="!loginForm.valid">Se connecter</ion-button>

      <div class="register-link">
        <ion-label>Pas de compte?</ion-label>
        <ion-button fill="clear" (click)="navigateToCreateUser()">Créer un compte</ion-button>
      </div>
    </form>
  </div>
</ion-content>
