.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f4f6;
  padding: 20px;
  border-radius: 15px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile-form {
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

.simulation-panel {
  width: 100%;
}

.panel{
  margin-top: 20px;
}

ion-item {
  --inner-padding-end: 0;
  --padding-start: 0;
  --min-height: 44px;
  width: calc(100% - 10px);
  margin: 5px;
}

ion-label {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: bold;
}

ion-input {
  width: 100%;
  --background: #ffffff;
  --padding-start: 10px;
  --padding-end: 10px;
  --border-radius: 10px;
    margin-top: 15px;
}

ion-button {
  --border-radius: 20px;
  margin-top: 20px;
  --background: #28a745;
}

.logout-button {
   /* Green color */
  --border-radius: 20px;
  margin-top: 10px;
  --background: #28a745;
  width: 100%;
  padding: 0 20px;
}
